/**
 * COLORS
 */

$color__primary--background: #FFF;
$color__primary--font: #272727;
$color__primary--active: #F89B16;
$color__primary--compliment: #005D67;

$color__gray--light: #EFEFEF;
$color__gray--mid: #BFBFBF;
$color__gray--dark: #5B5B5B;

$color__compliment--light: #006E79;
$color__compliment--dark: #003D44;

$color__secondary--font: #FFF;
$color__secondary--compliment: #3C9AA4;
$color__secondary--active: #1477D3;
