%font__Roboto {
	font-family: 'Roboto', sans-serif;
}
%font__RobotoSlab {
	font-family: 'Roboto Slab', serif;
}
%font__RobotoCondensed {
	font-family: 'Roboto Condensed', sans-serif;
}



%font__RobotoSlab--light{
	@extend %font__RobotoSlab;
	font-weight: 300;
}
%font__RobotoSlab--bold{
	@extend %font__RobotoSlab;
	font-weight: 700;
}

%font__Roboto--light{
	@extend %font__Roboto;
	font-weight: 300;
}
%font__Roboto--bold{
	@extend %font__Roboto;
	font-weight: 700;
}

%font__RobotoCondensed--bold{
	@extend %font__RobotoCondensed;
	font-weight: 700;
}